html, body{
	font-family: 'Josefin Slab', serif;
}

.c{
	text-align: center;
	width: 100%;
}

.b{
	font-weight: 700;
}

.n{
	font-weight: 400;
}

.l{
	font-weight: 300;
}

#logo{
	width: 100px;
	position: relative;
	display: block;
	margin: 40px auto 20px auto;
}

#sub-head{
	font-size: 14px;
	width: 100%;
	text-align: center;
}

section{
	border-bottom: 1px solid #F2F2F2;
	padding: 20px 0px;
}

section h3{
	width: 100%;
	text-align: center;
}

a{
	color: black;
}

a:hover{
	text-decoration: none;
	color: black;
	background: #FAFAFA;
}

section p{
	font-size: 18px;
}

a{
	padding: 40px 0px;
	-moz-transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}

a aside{
	position: relative;
	width: 200px;
	height: 200px;
	margin: auto;
	font-size: 80px;
	padding: 50px 0px;
	text-align: center;
	box-sizing: border-box;
	color: white;
	font-weight: 800;
	overflow: hidden;
}

a aside div{
	position: absolute;
	top: 33px;
	right: -90px;
	width: 200px;
	height: 30px;
	background: white;
	color: black;
	font-weight: 300;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    font-size: 20px;
    padding: 3px 50px 7px 0px;
}

#about-us{
	padding-top: 20px;
}

.no-style{
	padding: 0;
	color: #01A9DB;
}

.no-style:hover{
	background: transparent;
	color: #01A9DB;
}

.us-pictures{
	width: 150px;
	height: 150px;
	display: block;
	margin: auto;
}

.name{
	margin-top: 40px;
}

#about-us p{
	margin-top: 40px !important;
}

footer{
	padding: 20px;
	color: #BDBDBD;
}


@media (max-width: 600px) {
	 .container{
		padding: 0px 40px;
	}

	#chris{
		margin-top: 40px;
		border-top: 1px solid #F2F2F2;
		padding-top: 40px;
	}

	a:hover{
		background: transparent;

	}
}


